# Shepherd-AI 백엔드 환경변수 설정 가이드 양식
# 이 파일을 복사해서 .env 파일을 만든 후, 본인의 환경에 맞게 값 변경

INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=influxdb에서 발급받은 토큰
INFLUXDB_ORG=생성한 조직(organization) 이름
INFLUXDB_BUCKET=crowd_monitoring

YOLO_MODEL_PATH=../yolov8n.pt
VIDEO_PATH=../data/sample_data (1).mp4